<div class="row">
  <% if user_signed_in? %>
    <h1>Share a new post</h1>
      <%= render "form" %>
    </div>

      <div class="row">
        <h2>Your feed</h2>
        <% @posts.order("created_at desc").each do |post| %>
          <div class="col-sm-8 well">
            <div class="col-sm-2">
              <p><img src="http://placehold.it/200x200" class="img-responsive"></p>
            </div>
            <div class="post">
              <p><%= post.body %></p>
              <noscript>
                <%= render "/likes/form", post: post %>
              </noscript>
              <span class="counter" id="post-counter-<%= post.id %>">
                <%= post.likes.count %>
              </span>
              <%= link_to "Like", post_likes_path(post), class: "like-button", data: { post_id: post.id } %>
            </div>

            <div class="col-sm-8">
              <p><strong>posted by: <%= link_to post.user.name, post.user %></strong></p>
              <p><%= post.body %></p>
            </div>
          </div>

        <% end %>
      </div>
    <% else %>
      <div class="well col-md-6 col-md-offset-3 signup">
        <%= image_tag "logo.png" %>
        <h2>Please <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-warning btn-lg" %> to get social with us!</p>
      </div>
    <% end %>
